.cart-header {
  margin: 0;
}

.cart-value {
  margin-left: auto;
  font-weight: 599;
}

.header-icon {
  margin-left: auto;
}

// main content
.dialog-content {
  padding: 1%;

  .empty-cart {
    padding: 10px 0 15px 10px;
  }
}

// footer
.footer-actions {
  margin-left: auto;
}

.mobile-footer-actions {
  display: none;
}

@media (max-width: 500px) {
  .dialog-content {
    padding: 0 5px 0 5px;

    market-list {
      margin-bottom: 0.9rem;
    }
  }

  .footer-actions {
    display: none;
  }
  .mobile-footer-actions {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    gap: 15px;
  }
}
