<!-- header -->
<mat-dialog-actions>
  <mat-toolbar
    ><h4 class="cart-header">Vežimėlis</h4
    ><mat-icon
      class="header-icon"
      fontIcon="shopping_cart"
    ></mat-icon
  ></mat-toolbar>
</mat-dialog-actions>
<!-- content -->
<mat-dialog-content class="dialog-content">
  <div
    *ngFor="let product of cartService.cartListSignal()"
    class="cart-product-container"
  >
    <!-- <h4 *ngIf="product.market === enumMarketsList.MAXIMA">Maxima</h4> -->
    <div class="image-conntent">
      <img
        mat-card-image
        class="img-thumbnail"
        [src]="product.imageUrl"
        [alt]="product.title"
      />
    </div>
    <div class="product-details">
      <p class="product-details-title">{{ product.title }}</p>
      <p>{{ product.price }} €</p>
    </div>
    <div class="buttons-container">
      <!-- <button
        class="card-cart-button"
        (click)="addOneMore(product)"
        >+</button
      > -->
      <span class="quantity-title">{{ product.quantity }} vnt.</span>
      <button
        class="card-cart-button"
        (click)="removeFromCart(product)"
        >-</button
      >
    </div>
  </div>
</mat-dialog-content>
<!-- footer -->
<mat-dialog-actions class="dialog-footer">
  <span
    *ngIf="cartService.totalCartCostSignal()"
    class="cart-value"
    >Krepšelio vertė:&emsp;{{ cartService.totalCartCostSignal() | number: '1.2-2' }}&nbsp;€</span
  >
  <mat-toolbar>
    <button
      class="clean-button"
      mat-fab
      extended
      color="accent"
      (click)="clearCart()"
    >
      <mat-icon fontIcon="delete"></mat-icon>
      Valyti viską
    </button>
    <button
      mat-fab
      extended
      mat-dialog-close
      color="default"
    >
      <mat-icon fontIcon="close"></mat-icon>
      Uždaryti
    </button>
  </mat-toolbar>
</mat-dialog-actions>
