.cart-header {
  margin: 0;
}

.header-icon {
  margin-left: auto;
}

// main content
.dialog-content {
  padding: 1%;
}

// footer
.dialog-footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  .cart-value {
    margin-right: auto;
    font-weight: 599;
  }
  
  .clean-button {
    margin-left: auto;
  }
}

@media (max-width: 500px) {
  .dialog-content {
    width: 100%;
    height: 100%;
  }
}
