<div *ngIf="specImage.market === marketList.MAXIMA">
  <div *ngIf="specImage.spec === 'mobile'">
    <img
      class="spec-image"
      mat-card-image
      src="../../assets/images/programele.png"
    />
  </div>
  <div *ngIf="specImage.spec === 'card'">
    <img
      class="spec-image"
      mat-card-image
      src="../../assets/images/aciu.png"
    />
  </div>
</div>
<div *ngIf="specImage.market === marketList.IKI">
  <div *ngIf="specImage.spec === 'mobile'"></div>
  <div *ngIf="specImage.spec === 'card'">
    <img
      class="spec-image"
      mat-card-image
      src="../../assets/images/iki-card.png"
    />
  </div>
</div>
<div *ngIf="specImage.market === marketList.RIMI">
  <div *ngIf="specImage.spec === 'mobile'"></div>
  <div *ngIf="specImage.spec === 'card'">
    <img
      class="spec-image"
      mat-card-image
      src="../../assets/images/rimi-card.png"
    />
  </div>
</div>
