<div class="market-list-title">-- {{ marketName | titlecase }} --</div>
<div *ngFor="let product of filterListByMarket()">
  <div class="cart-product-container">
    <div class="image-content">
      <img mat-card-image class="img-thumbnail" [src]="product.imageUrl" [alt]="product.title" />
    </div>
    <div class="product-details">
      <p class="product-details-title">{{ product.title }}</p>
      <p *ngIf="cartService.getProductPriceByQuantity(product.id); else noPrice"
        class="product-details-price"
      >
        {{ cartService.getProductPriceByQuantity(product.id) | number:'1.0-2' }} €
      </p>
      <ng-template #noPrice>
        <span class="product-details-price">Visa produkcija</span>
      </ng-template>
    </div>
    <div class="buttons-container">
      <button class="card-cart-button" (click)="removeFromCart(product)">-</button>
      <span class="quantity-title">{{ product.quantity }} vnt.</span>
      <button class="card-cart-button" (click)="addOneMore(product)">+</button>
    </div>
  </div>
</div>
