:host {
  margin-bottom: 0.9rem;
}

.market-list-title {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 25px;
}

.cart-product-container {
  display: flex;
  width: 100%;
  height: 140px;
  border-bottom: 0.5px solid grey;
  margin-bottom: 1%;

  .image-content {
    position: relative;
    width: 200px;
    z-index: 0;

    img {
      aspect-ratio: 1/0.65;
      object-fit: cover;
      width: 100%;
    }
  }

  .product-details {
    padding: 15px 0 0 15px;
    width: 24rem;

    .product-details-price {
      font-size: 16px;
      font-weight: 599;
    }
  }

  .buttons-container {
    display: flex;
    width: 15rem;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 10px;

    .quantity-title {
      margin: 0 8px;
      width: 4rem;
    }

    .card-cart-button {
      cursor: pointer;
      height: 50px;
      width: 50px;
      color: rgb(0, 0, 0);
      border: 0.8px solid black;
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.76);
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
      transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s; /* Safari */

      &:hover {
        transition-duration: 0.1s;
        background-color: #e7e6e6;
      }

      ::after {
        content: "";
        display: block;
        border-radius: 4em;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        box-shadow: 0 0 10px 40px white;
      }

      &:active {
        box-shadow: 0 0 0 0 rgb(128, 128, 128);
        border-radius: 4em;
        opacity: 1;
        transition: 0s;
      }
    }
  }
}

@media (max-width: 500px) {
  .cart-product-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 50%;

    .image-content {
      width: auto;
      grid-column: 1 / 1;
      grid-row: 1;
    }

    .product-details {
      grid-column: 1 / 1;
      grid-row: 2;
      margin: auto;
      padding: 15px 0 0 0;
      width: 15rem;
      
      .product-details-title {
        margin-bottom: 0.3rem;
      }
    }

    .buttons-container {
      grid-column: 1 / 1;
      grid-row: 3;
      margin: auto auto 0.4rem auto;

      .quantity-title {
        padding: 0 30px;
      }

      .card-cart-button {
        box-shadow: none;

        ::after {
          box-shadow: 0 0 10px 40px white;
        }
  
        &:active {
          box-shadow: 0 0 0 0 rgb(128, 128, 128);
        }
      }
    }
  }
}
