<div *ngIf="recipes$">
  <span class="recipe-title">Apsipirke {{ getMarketLabel() }} - pasigaminkite!</span>
  <div class="recipe-container">
    <div class="row">
      <div class="col">
        <div class="flex-container">
            <ul class="nav nav-tabs">
              <li class="recipe-tab" *ngFor="let recipe of recipes$ | async" (click)="selectRecipe(recipe)">
                <img [src]="recipe.imageUrl" alt="{{ recipe.name }}" style="width: 50px; height: 50px;">
                <div class="recipe-details">
                  <span class="recipe-name">{{ recipe.name }}</span>
                  <span class="recipe-name">{{ recipe.average_cost }}</span>
                </div>
              </li>
              <div *ngIf="!recipes$" class="d-flex justify-content-center">
                <mat-spinner [diameter]="30"></mat-spinner>
              </div>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedRecipe" [@detailEnterLeave]>
    <app-recipe-details [recipe]="selectedRecipe"></app-recipe-details>
  </div>
</div>
