<mat-tab-group>
  <mat-tab label="Maxima">
    <ng-container *ngIf="(categoryTabs$ | async) === null">
      <div class="d-flex justify-content-center">
        <mat-spinner [diameter]="30"></mat-spinner>
      </div>
    </ng-container>
    <mat-tab-group #tabGroup contentTabIndex="i" (selectedTabChange)="tabChanged($event)" [selectedIndex]="1">
      <mat-tab *ngFor="let category of categoryTabs$ | async; let i=index" label="{{category}}">
        <div class="products-content" *ngFor="let product of productsByCategory(category) | async; let i=index">
          <mat-card class="product-card">
            <mat-card-header class="card-header">
              <mat-card-title class="card-header-title">{{ product.title }}</mat-card-title>
              <mat-card-subtitle class="card-header-category">{{ product.category }}</mat-card-subtitle>
            </mat-card-header>
            <div *ngIf="product.discount" class="card-discount">
              <h3>{{ product.discount }}</h3>
            </div>
            <img mat-card-image class="card-image img-thumbnail" [ngSrc]="product.imageUrl" width="400" height="300"
              [alt]="product.title" priority />
            <mat-card-content class="card-content">
              <div class="d-flex justify-content-between">
                <span class="card-price">{{ product.priceEur }}, {{ product.priceCents }}
                  eur.</span>
                <span class="mt-2">
                  {{ product.dateTo }}
                  <span class="x-icons" *ngIf="product.xIcons">
                    <div class="d-inline" *ngFor="let item of [].constructor( product.xIcons ); let i = index">
                      <img mat-card-image src="../../assets/images/x-icon.png">
                    </div>
                  </span>
                </span><br />
              </div>
              <div class="card-bottom d-flex justify-content-between">
                <span *ngIf="product.oldPrice" class="card-old">Sena kaina <span class="card-old-price">{{
                    product.oldPrice }}</span></span>
                <span *ngIf="product.specImg">
                  <img class="spec-image" mat-card-image [src]="product.specImg">
                </span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>IKI</ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Rimi</ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Norfa</ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>Lidl</ng-template>
  </mat-tab>
</mat-tab-group>