<app-header></app-header>
<div class="content">
  <app-scroll *ngIf="showScroll$ | async" (scrollToTop)="onScrollToTop()"></app-scroll>
  <mat-tab-group (selectedTabChange)="marketTabChanged($event)" [selectedIndex]="0">
    <mat-tab *ngFor="let market of marketsList" [label]="market.name">
      <ng-template mat-tab-label>{{ market.label }}</ng-template>
      <ng-template matTabContent>
        <mat-tab-group (selectedTabChange)="tabChanged($event)" [selectedIndex]="0">
          <ng-container *ngIf="!asyncCategories">
            <div class="d-flex justify-content-center">
              <mat-spinner [diameter]="30"></mat-spinner>
            </div>
          </ng-container>
          <mat-tab *ngFor="let category of asyncCategories">
            <ng-template mat-tab-label>{{ category }}</ng-template>
            <ng-template matTabContent>
              <ng-container *ngIf="!productsByCategory(category)">
                <div class="d-flex justify-content-center">
                  <mat-spinner [diameter]="30"></mat-spinner>
                </div>
              </ng-container>
              <div class="main-content">
                <app-card
                  *ngFor="let product of productsByCategory(category) | async"
                  [product]="product"
                  [marketName]="market.label"
                  (emitAddEvent)="addItemEmitter($event)"
                  (emitRemoveEvent)="removeFromCartEmitter($event)"
                ></app-card>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<app-footer></app-footer>
