<mat-card class="product-card">
  <mat-card-header class="card-header">
    <mat-card-title
      class="card-header-title"
      [matTooltip]="product.title"
      matTooltipPosition="above"
      >{{ product.title }}</mat-card-title
    >
    <mat-card-subtitle class="card-header-category">
      <div *ngIf="product.category; else noCategoty">
        {{ product.category }}
      </div>
      <ng-template #noCategoty>&nbsp;</ng-template>
    </mat-card-subtitle>
    <mat-card-subtitle class="card-header-category">
      <div *ngIf="product.description; else noDescription">
        {{ product.description }}
      </div>
      <ng-template #noDescription>&nbsp;</ng-template>
    </mat-card-subtitle>
  </mat-card-header>
  <div
    *ngIf="product.discount"
    class="card-discount"
  >
    <h3>{{ product.discount }}</h3>
  </div>
  <div class="card-cart">
    <button
      class="card-cart-button"
      (click)="addToCart(product)"
      >+</button
    >
  </div>
  <div class="card-image">
    <img
      mat-card-image
      class="img-thumbnail"
      [src]="product.imageUrl"
      [alt]="product.title"
    />
  </div>
  <mat-card-content class="card-content">
    <div class="d-flex">
      <span
        *ngIf="product.priceEur"
        class="card-price"
        >{{ transformPrices(product.priceEur, product.priceCents) }} €</span
      >
      <span class="card-price-termination mt-2">
        {{ transformDateTo(product.dateTo) }}
        <span
          class="x-icons"
          *ngIf="product.xIcons"
        >
          <div
            class="d-inline"
            *ngFor="let item of [].constructor(product.xIcons); let i = index"
          >
            <img
              mat-card-image
              src="../../assets/images/x-icon.png"
            />
          </div>
        </span> </span
      ><br />
    </div>
    <div class="card-bottom d-flex justify-content-between">
      <span
        *ngIf="product.oldPrice"
        class="card-old"
        >Sena kaina <span class="card-old-price">{{ product.oldPrice }}</span></span
      >
      <span
        *ngIf="product.specImg"
        class="card-spec-img"
      >
        <app-spec-img [specImage]="product.specImg"></app-spec-img>
      </span>
    </div>
  </mat-card-content>
</mat-card>
